<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.scme.hospitalsys.mapper.UserMapper">
  	
  	<insert id="addUser" parameterType="com.scme.hospitalsys.pojo.User">
  		insert into user values(null,#{username},#{pwd},#{uname},#{gender},#{mobile})
  	</insert>
  
  	<select id="findUser" parameterType="user" resultType="user">
  		select * from user where username=#{username} and pwd=#{pwd}
  	</select>
</mapper>
